<div class="settings">
  <div>
    Язык:
    <select [formControl]="language">
      <option name="en" [selected]="language.value === 'en'">en</option>
      <option name="de" [selected]="language.value === 'de'">de</option>
    </select>
  </div>
  <div>
    Количество слов:
    <select [formControl]="number">
      <option [selected]="number.value == 1">1</option>
      <option [selected]="number.value == 2">2</option>
      <option [selected]="number.value == 3">3</option>
    </select>
  </div>
</div>
<button (click)="save()">Сохранить</button>
