<div class="added-words">
  phrase1 &mdash; перевод1<br/>
  phrase1 &mdash; перевод1<br/>
  phrase1 &mdash; перевод1<br/>
  phrase1 &mdash; перевод1<br/>
  phrase1 &mdash; перевод1<br/>
  phrase1 &mdash; перевод1<br/>
  phrase1 &mdash; перевод1<br/>
  phrase1 &mdash; перевод1<br/>
  phrase1 &mdash; перевод1<br/>
  phrase1 &mdash; перевод1<br/>
  phrase1 &mdash; перевод1<br/>
  phrase1 &mdash; перевод1<br/>
  phrase1 &mdash; перевод1<br/>
</div>
<input type="text" [formControl]="phrase" />
<button (click)="addPhrase()">Добавить</button>
